.product-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    min-height: 90vh;

}
.all-product{
    padding: 1rem;
    border-right: 1px solid green;
}
.cart{
    padding: 1rem;
    
}
img{
    width: 100%;
}
.all-product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}