*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    padding-top: 1rem;
}

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
}
igm{
    width: 100%;
}
.logo img{
    width: 120px;
}

.nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 2rem;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
